<div class="row">
    <h1 class="col-md-7" style="color: darkgreen; margin-left: 20px"">Threads</h1>

   <div class="col-md-3">
     <a href="#/thread-add" class="btn btn-success" style="margin:25px">Add thread</a>
   </div>
</div>
<div style="margin-left: 40px">
{{#if this}}
    {{#each this}}
        <h2><a href="#/threads/{{id}}" style="color: green">{{title}}</a></h2>
        <strong>created
            <span>{{postDate}}</span>
        </strong>
        <br/> created by <a href="#/users">{{user.username}}</a>
    {{/each}}
{{else}}
    <h2>No threads</h2>
{{/if}}
</div>